.PostCard{
    background: #ffff 0% 0% no-repeat padding-box;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.PostPorf{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}
.PostPor{
    display: flex;
    gap: 10px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.iconscont{
    display: flex;
    align-items: center;
    gap: 10px;
}
.postimg{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}